* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 1536px;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  background: #D9D9D9;
  padding: 0 120px;
}

.link__wp {
  display: flex;
  list-style-type: none;
  gap: 120px;
}

.link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

p{
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}